:host {
  position: relative;
  display: grid;
  gap: 2px;

  background: color-mix(in srgb, var(--color-surface) var(--surface-transparency), transparent);
  backdrop-filter: blur(8px) contrast(100) blur(2px);
}

:host(.small) {
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
}

:host(.large) {
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  border: none;
}
