<nexus-sidebar>
  <nexus-settings-panel />
</nexus-sidebar>

<main class="shell-content">
  <nexus-3d-view-toolbar class="shell-toolbar" />

  <nexus-viewport-cube class="viewport-cube" />

  <router-outlet></router-outlet>

  <nexus-slice-control class="print-estimates" />
</main>

@if (editorPanelVisible()) {
  <nexus-card class="code-editor-panel" visualSize="large">
    <nexus-code-editor [content]="snapshotJson()" language="json" [readOnly]="true" />
    <nexus-code-editor [content]="sliceParamsJson()" language="json" [readOnly]="true" />
  </nexus-card>
}
