<nexus-sidebar>
  <nexus-settings-panel />
</nexus-sidebar>

<main class="shell-content">
  <router-outlet></router-outlet>

  <div class="shell-actions-layer">
    <nexus-3d-view-toolbar class="shell-toolbar" />

    <nexus-viewport-cube class="viewport-cube" />

    <nexus-slice-control class="stage-panel" />

    <nexus-slice-layer-bar class="layer-bar-panel" />

    <nexus-slice-segment-bar class="segment-bar-panel" />
  </div>
</main>

@if (editorPanelVisible()) {
  <nexus-card class="code-editor-panel" visualSize="large">
    <nexus-code-editor [content]="snapshotJson()" language="json" [readOnly]="true" />
    <nexus-code-editor [content]="sliceParamsJson()" language="json" [readOnly]="true" />
  </nexus-card>
}
